.jumbotron {
	background-color: #623AA3;
	color: #FFFF;
	margin-top: 0px;

} 

.btn {
	background-color: #221F3B;	
    color: #FFFF;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: #050505;
	color: #623AA3;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-pieza {
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.btn-comprar {
	width: 100%;

}

.footer-address-icon {
	padding-right: 10px;
}

.tabla-head {
	background-color: #221F3B;
	color: #FFFF; 
}

.tab-content {
	padding-top: 10px;
}

.button1 {
	border-radius: 50%;
}